html {
  font-size: 100px;
}
@media (max-width: 1912px) {
  html {
    font-size: 99.5833px;
  }
}
@media (max-width: 1910px) {
  html {
    font-size: 99.4792px;
  }
}
@media (max-width: 1680px) {
  html {
    font-size: 87.5px;
  }
}
@media (max-width: 1480px) {
  html {
    font-size: 77.0833px;
  }
}
@media (max-width: 1472px) {
  html {
    font-size: 76.6667px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 66.6667px;
  }
}
@media (max-width: 1272px) {
  html {
    font-size: 66.25px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 53.3333px;
  }
}
@media (max-width: 1016px) {
  html {
    font-size: 52.91px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 85.3333px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 56.6667px;
  }
}
@media (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 42.6667px;
  }
}
